##### This is the data repository for the 2019 Novel Coronavirus Visual Dashboard operated by the Johns Hopkins University Center for Systems Science and Engineering (JHU CSSE).
**Dataset: Novel Corona Virus 2019 Dataset**
**Dataset Description:**
- SNo: Serial Number
- ObservationDate: Observation date in mm/dd/yyyy
- Province/State: Province or State
- Country/Region: Country or region
- Last Update: Last update date time in UTC
- Confirmed: Cumulative number of confirmed cases
- Deaths: Cumulative number of deaths cases
- Recovered: Cumulative number of recovered cases
** *Infected: Confirmed - Recovered â€“ Deaths**

In [5]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression as LinReg
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [6]:
data = pd.read_csv('covid_19_data.csv')
df = data.copy()

In [7]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [17]:
columns = df.columns
df.columns = [col.lower() for col in columns]
df.rename(columns = {'province/state':'province', 'country/region':'country','last update':'last_update'},inplace=True)

In [19]:
df.drop(['sno','province','country','last_update'],axis=1,inplace=True)

In [23]:
df.head()

  observationdate  confirmed  deaths  recovered
0      01/22/2020        1.0     0.0        0.0
1      01/22/2020       14.0     0.0        0.0
2      01/22/2020        6.0     0.0        0.0
3      01/22/2020        1.0     0.0        0.0
4      01/22/2020        0.0     0.0        0.0

In [29]:
df = df.groupby(df['observationdate']).sum().reset_index()

In [31]:
df

   observationdate  confirmed  deaths  recovered
0       01/22/2020      555.0    17.0       28.0
1       01/23/2020      653.0    18.0       30.0
2       01/24/2020      941.0    26.0       36.0
3       01/25/2020     1438.0    42.0       39.0
4       01/26/2020     2118.0    56.0       52.0
5       01/27/2020     2927.0    82.0       61.0
6       01/28/2020     5578.0   131.0      107.0
7       01/29/2020     6165.0   133.0      126.0
8       01/30/2020     8235.0   171.0      143.0
9       01/31/2020     9925.0   213.0      222.0
10      02/01/2020    12038.0   259.0      284.0
11      02/02/2020    16787.0   362.0      472.0
12      02/03/2020    19881.0   426.0      623.0
13      02/04/2020    23892.0   492.0      852.0
14      02/05/2020    27636.0   564.0     1124.0
15      02/06/2020    30818.0   634.0     1487.0
16      02/07/2020    34392.0   719.0     2011.0
17      02/08/2020    37121.0   806.0     2616.0
18      02/09/2020    40151.0   906.0     3244.0
19      02/10/2020    42763.0  1013.0     3946.0
20      02/11/2020    44803.0  1113.0     4683.0
21      02/12/2020    45222.0  1118.0     5150.0
22      02/13/2020    60370.0  1371.0     6295.0
23      02/14/2020    66887.0  1523.0     8058.0
24      02/15/2020    69032.0  1666.0     9395.0
25      02/16/2020    71226.0  1770.0    10865.0
26      02/17/2020    73260.0  1868.0    12583.0
27      02/18/2020    75138.0  2007.0    14352.0
28      02/19/2020    75641.0  2122.0    16121.0
29      02/20/2020    76199.0  2247.0    18177.0
30      02/21/2020    76843.0  2251.0    18890.0
31      02/22/2020    78599.0  2458.0    22886.0
32      02/23/2020    78985.0  2469.0    23394.0
33      02/24/2020    79570.0  2629.0    25227.0
34      02/25/2020    80415.0  2708.0    27905.0
35      02/26/2020    81397.0  2770.0    30384.0
36      02/27/2020    82756.0  2814.0    33277.0
37      02/28/2020    84124.0  2872.0    36711.0
38      02/29/2020    86013.0  2941.0    39782.0
39      03/01/2020    88371.0  2996.0    42716.0
40      03/02/2020    90309.0  3085.0    45602.0
41      03/03/2020    92844.0  3160.0    48229.0
42      03/04/2020    95124.0  3254.0    51171.0
43      03/05/2020    97886.0  3348.0    53797.0
44      03/06/2020   101800.0  3460.0    55866.0
45      03/07/2020   105836.0  3558.0    58359.0
46      03/08/2020   109835.0  3803.0    60695.0
47      03/09/2020   113582.0  3996.0    62512.0
48      03/10/2020   118582.0  4262.0    64404.0
49      03/11/2020   125865.0  4615.0    67003.0
50      03/12/2020   128343.0  4720.0    68324.0
51      03/13/2020   145193.0  5404.0    70251.0
52      03/14/2020   156099.0  5819.0    72624.0
53      03/15/2020   167447.0  6440.0    76034.0
54      03/16/2020   181546.0  7126.0    78088.0
55      03/17/2020   197168.0  7905.0    80840.0
56      03/18/2020   214915.0  8733.0    83313.0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   observationdate  57 non-null     object
 1   confirmed        57 non-null     float64
 2   deaths           57 non-null     float64
 3   recovered        57 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.9+ KB

In [39]:
df['observationdate'] = pd.to_datetime(df['observationdate'])

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   observationdate  57 non-null     datetime64[ns]
 1   confirmed        57 non-null     float64
 2   deaths           57 non-null     float64
 3   recovered        57 non-null     float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 1.9 KB

In [43]:
def substraction(observationdate):
    min_ob_date = df['observationdate'].min()
    return (observationdate - min_ob_date).days + 1

In [48]:
df['days'] = df['observationdate'].apply(lambda x:substraction(x))

In [52]:
df.drop('observationdate',axis=1,inplace=True)

In [54]:
df.head()

   confirmed  deaths  recovered  days
0      555.0    17.0       28.0     1
1      653.0    18.0       30.0     2
2      941.0    26.0       36.0     3
3     1438.0    42.0       39.0     4
4     2118.0    56.0       52.0     5

In [56]:
df['infected'] = df['confirmed'] - df['recovered'] - df['deaths']

In [58]:
df.head()

   confirmed  deaths  recovered  days  infected
0      555.0    17.0       28.0     1     510.0
1      653.0    18.0       30.0     2     605.0
2      941.0    26.0       36.0     3     879.0
3     1438.0    42.0       39.0     4    1357.0
4     2118.0    56.0       52.0     5    2010.0

##### Confirmed Prediction

In [71]:
X = df['days']
y = df['confirmed']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,shuffle=True,random_state=101)

In [89]:
X_train = np.reshape(X_train,(-1,1))
X_test = np.reshape(X_test,(-1,1))

In [91]:
from sklearn.linear_model import LinearRegression as LinReg

model = LinReg()
linmodel = model.fit(X_train, y_train)

In [95]:
y_pred = linmodel.predict(X_test)

In [107]:
R2 = r2_score(y_test, y_pred)
print('R2 =', R2)
n = X_test.shape[0]
p = X_test.shape[1]
adj_r2 = 1-(1-R2)*(n-1)/(n-p-1)
print('Adjusted R2 =', adj_r2)
MSE = mean_squared_error(y_test, y_pred)
print('MSE =', MSE)
RMSE = np.sqrt(MSE)
print("RMSE =",RMSE)
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, y_pred)
print('MAE =',MAE)

R2 = 0.9081493592042216
Adjusted R2 = 0.8989642951246437
MSE = 181528979.18849102
RMSE = 13473.269060940296
MAE = 9892.347140961212

##### Deaths prediction

In [110]:
X = df['days']
y = df['deaths']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,shuffle=True,random_state=101)

In [112]:
X_train = np.reshape(X_train,(-1,1))
X_test = np.reshape(X_test,(-1,1))

In [114]:
from sklearn.linear_model import LinearRegression as LinReg

model = LinReg()
linmodel = model.fit(X_train, y_train)

In [116]:
y_pred = linmodel.predict(X_test)

In [118]:
R2 = r2_score(y_test, y_pred)
print('R2 =', R2)
n = X_test.shape[0]
p = X_test.shape[1]
adj_r2 = 1-(1-R2)*(n-1)/(n-p-1)
print('Adjusted R2 =', adj_r2)
MSE = mean_squared_error(y_test, y_pred)
print('MSE =', MSE)
RMSE = np.sqrt(MSE)
print("RMSE =",RMSE)
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, y_pred)
print('MAE =',MAE)

R2 = 0.862565303753617
Adjusted R2 = 0.8488218341289786
MSE = 468237.2156059365
RMSE = 684.2786096364086
MAE = 551.8960403393711

##### Recovered Prediction

In [121]:
X = df['days']
y = df['recovered']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,shuffle=True,random_state=101)

In [123]:
X_train = np.reshape(X_train,(-1,1))
X_test = np.reshape(X_test,(-1,1))

In [125]:
from sklearn.linear_model import LinearRegression as LinReg

model = LinReg()
linmodel = model.fit(X_train, y_train)

In [127]:
y_pred = linmodel.predict(X_test)

In [129]:
R2 = r2_score(y_test, y_pred)
print('R2 =', R2)
n = X_test.shape[0]
p = X_test.shape[1]
adj_r2 = 1-(1-R2)*(n-1)/(n-p-1)
print('Adjusted R2 =', adj_r2)
MSE = mean_squared_error(y_test, y_pred)
print('MSE =', MSE)
RMSE = np.sqrt(MSE)
print("RMSE =",RMSE)
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, y_pred)
print('MAE =',MAE)

R2 = 0.8707546732091535
Adjusted R2 = 0.8578301405300688
MSE = 90873569.84641379
RMSE = 9532.762970220847
MAE = 8788.989756344141

##### Infected Prediction

In [132]:
X = df['days']
y = df['infected']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,shuffle=True,random_state=101)

In [134]:
X_train = np.reshape(X_train,(-1,1))
X_test = np.reshape(X_test,(-1,1))

In [136]:
from sklearn.linear_model import LinearRegression as LinReg

model = LinReg()
linmodel = model.fit(X_train, y_train)

In [138]:
y_pred = linmodel.predict(X_test)

In [140]:
R2 = r2_score(y_test, y_pred)
print('R2 =', R2)
n = X_test.shape[0]
p = X_test.shape[1]
adj_r2 = 1-(1-R2)*(n-1)/(n-p-1)
print('Adjusted R2 =', adj_r2)
MSE = mean_squared_error(y_test, y_pred)
print('MSE =', MSE)
RMSE = np.sqrt(MSE)
print("RMSE =",RMSE)
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, y_pred)
print('MAE =',MAE)

R2 = 0.47729610527090516
Adjusted R2 = 0.42502571579799564
MSE = 237295853.22212484
RMSE = 15404.410187414669
MAE = 13951.213674016863